<footer class="bg-dark text-center" style="background-color: #350661 !important;">
    <!-- Grid container -->
    <div class="container p-2 pt-4">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0 text-light">About</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="/mission" class="text-light text-decoration-none">Mission</a>
                    </li>
                    <li>
                        <a href="/team" class="text-light text-decoration-none">Team</a>
                    </li>
                </ul>
            </div>

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-md-0">
                <h5 class="text-uppercase mb-0 text-light">Help</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="/siterules" class="text-light text-decoration-none">Rules</a>
                    </li>
                    <li>
                        <a href="/contact" class="text-light text-decoration-none">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 text-light" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Bonfire:
        <a class="text-light" href="/">bonfire.com</a>
    </div>
    <!-- Copyright -->
</footer>