<footer class="bg-dark text-center" style="background-color: #37476D !important;">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0 text-light">Discover</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!" class="text-light text-decoration-none">Link 1</a>
                    </li>
                    <li>
                        <a href="#!" class="text-light text-decoration-none">Link 2</a>
                    </li>
                    <li>
                        <a href="#!" class="text-light text-decoration-none">Link 3</a>
                    </li>
                    <li>
                        <a href="#!" class="text-light text-decoration-none">Link 4</a>
                    </li>
                </ul>
            </div>

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0 text-light">About</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!" class="text-light text-decoration-none">Link 1</a>
                    </li>
                    <li>
                        <a href="#!" class="text-light text-decoration-none">Link 2</a>
                    </li>
                    <li>
                        <a href="#!" class="text-light text-decoration-none">Link 3</a>
                    </li>
                    <li>
                        <a href="#!" class="text-light text-decoration-none">Link 4</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 text-light" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Bonfire:
        <a class="text-light" href="https://mdbootstrap.com/">bonfire.com</a>
    </div>
    <!-- Copyright -->
</footer>