<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="../../public/bonfire.gif" width="30" height="30" class="d-inline-block align-top" alt="">
      Bonfire
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
            <a class="nav-link" href="/register">Register</a>
        </li>
    </ul>
  </nav>