<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#postModal">Write Post</button>

<div class="modal fade" id="postModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/post" method="post">
          <div class="mb-3">
            <label for="postTitle" class="col-form-label">Post Title</label>
            <input type="text" class="form-control" id="postTitle" name="postTitle">
          </div>
          <div class="mb-3">
            <label for="postContent" class="col-form-label">Content</label>
            <textarea class="form-control" id="postContent" name="postContent"></textarea>
          </div>
          <div class="mb-3">
            <script>
              let postTags = [];

              function addTag() {
                let inputBox = document.getElementById("tagInput");
                let tagName = inputBox.value;
                inputBox.value = "";
                postTags.push(tagName);
                console.log(postTags);
                let tagContainer = document.getElementById("tagContainer");
                let tagHTML = `<span class="badge rounded-pill bg-primary">${tagName}</span>`;
                tagContainer.innerHTML += tagHTML;
              }

              async function submitPost() {
                let postTitle = document.getElementById("postTitle").value;
                let postContent = document.getElementById("postContent").value;
                let data = {
                  postTitle: postTitle,
                  postContent: postContent,
                  postTags: postTags
                }
                fetch('/post', {
                  method: 'POST',
                  body: JSON.stringify(data),
                  headers: {
                    'Content-type': 'application/json'
                  }
                }).then(response => response.json().then((data) => {
                  if (data.success) {
                    window.location.href = `/post/${data.postId}`;
                  } else {
                    console.log("There was an error while posting!");
                  }
                }));
              }
            </script>
            <label for="postTags" class="col-form-label">Tags</label>
            <div id="tagContainer">
              <input type="text" class="form-control" id="tagInput"
                style="max-width: 40%; display: inline; vertical-align: middle;">
              <div onclick="addTag()" id="addTag" class="btn btn-primary"><i class="zmdi zmdi-edit"></i></div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" onclick="submitPost()" class="btn btn-primary">Post</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>