<!-- Post modal Component -->

<!-- Post modal Button -->
<button type="button" class="btn btn-primary mx-3" data-bs-toggle="modal" data-bs-target="#postModal"
  style="margin-left: 1.2rem !important;">Write Post</button>

<!-- Modal (popup) -->
<div class="modal fade" id="postModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 10vh;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- Modal Body -->
      <div class="modal-body">
        <form action="/post" method="post">
          <div class="mb-3">
            <label for="postTitle" class="col-form-label">Post Title</label>
            <input type="text" class="form-control" id="postTitle" name="postTitle">
            <span id="title-error"></span>
          </div>
          <div class="mb-3">
            <label for="postContent" class="col-form-label">Content</label>
            <textarea class="form-control" id="postContent" name="postContent"></textarea>
            <span id="content-error"></span>
          </div>
          <div class="mb-3">

            <!-- Modal-related scripts -->
            <script>
              let postTags = [];

              function addTag() {
                let inputBox = document.getElementById("tagInput");
                let tagName = inputBox.value;
                inputBox.value = "";
                postTags.push(tagName);
                console.log(postTags);
                let tagContainer = document.getElementById("tagContainer");
                let tagHTML = `<span class="badge rounded-pill bg-primary">${tagName}</span>`;
                tagContainer.innerHTML += tagHTML;
              }

              async function submitPost() {
                let postTitle = document.getElementById("postTitle").value;
                let postContent = document.getElementById("postContent").value;
                let data = {
                  postTitle: postTitle,
                  postContent: postContent,
                  postTags: postTags
                }
                let titleError = document.getElementById("title-error")
                let contentError = document.getElementById("content-error")
                if (postTitle.length == 0) {
                  titleError.textContent = "The post title cannot be empty! Please try again"
                  titleError.style.color = "red"
                } else if (postContent.length < 250) {
                  contentError.textContent = "The post content has to be at least 250 characters"
                  contentError.style.color = "red"
                } else {
                  titleError.textContent = ""
                  contentError.textContent = ""
                  fetch('/post', {
                    method: 'POST',
                    body: JSON.stringify(data),
                    headers: {
                      'Content-type': 'application/json'
                    }
                  }).then(response => response.json().then((data) => {
                    if (data.success) {
                      window.location.href = `/post/${data.postId}`;
                    } else {
                      console.log("There was an error while posting!");
                    }
                  }));
                }
              }
            </script>

            <!-- Modal Tags -->    
            <label for="postTags" class="col-form-label">Tags</label>          
            <div id="tagContainer">
              <input type="text" class="form-control" id="tagInput"
                style="max-width: 40%; display: inline; vertical-align: middle;">
              <div onclick="addTag()" id="addTag" class="btn btn-primary"><i class="zmdi zmdi-edit"></i></div>
            </div>
          </div>
          
          <!-- Modal Footer -->
          <div class="modal-footer">
            <button type="button" onclick="submitPost()" class="btn btn-primary">Post</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>