<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
    <style>
      .img-thumbnail {
        display: inline;
      }
    </style>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <!-- 404 Page -->
    <div class="jumbotron" style="min-height: 55vh; text-align: center;">
      <h1 class="header-title m-4">404 Not Found</h1>
      <div class="m-4">
        <img src="/images/bonfire2.gif">
        <p class="lead mt-4">Uh oh! We couldn't find the page you're looking for.</p>
        <p class="lead">Go back <a href="/">Home?</a></p>
      </div>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>