<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
    <style>
      .img-thumbnail {
        display: inline;
      }
    </style>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <!-- Contact Us form -->
    <div class="jumbotron" style="min-height: 55vh;">
      <h1 class="header-title">Contact Us</h1>
      <div class="m-3">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="mx-3 mt-3">
        <label for="exampleFormControlTextarea1" class="form-label">Comment</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <br>
        <!-- <button type="submit" class="btn btn-primary mb-4">Submit</button> -->
        <a href="/contact2" class="btn btn-primary mb-4" role="button">Submit</a>
      </div>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>