<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
    <style>
      .img-thumbnail {
        display: inline;
      }
    </style>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="jumbotron" style="min-height: 55vh, padding=auto">
      <h1 class="header-title">Contact Us</h1>
      <p style="margin-left: 15px">We have received your message.</p>
      <p style="margin-left: 15px">Please allow 1-3 business days for us to review and respond to your message, if applicable. </p>
      <p style="margin-left: 15px">We thank you for your patience.</p>
      <br>
      <p style="margin-left: 15px">- Bonfire Team</p>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>