<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Feed</h1>
    <p>Welcome back, <%= username %></p>

    <form action="/logout?_method=DELETE" method="POST">
      <button type="submit" class="btn btn-primary">Log Out</button>
    </form>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>