<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Feed</h1>
    <p>Welcome back, <%= user.username %></p>

    <form action="/logout?_method=DELETE" method="POST">
      <button type="submit" class="btn btn-primary">Log Out</button>
    </form>
    
    <% if (user.is_admin) { %>    
      <p class="nav-item">
          <a class="nav-link" href="/admin">Admin Dashboard</a>
      </p>
    <% } %>
  </div>
  <!-- trending discussion cards -->
  <div class ="container">
    <div class="card"style="width: 18rem">
      <img src="https://i.pinimg.com/736x/ef/c5/cf/efc5cfdfabf790c58e1acf288fb5ccac--fire-icon-flame-logo.jpg" class="img-thumbnail" style="width: 80px; height: 60px; border-style: none;">
      <div class="card-body">
        <h5 class="card-title">Elon Musk</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Join discussion</a>
      </div>
    </div>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>