<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
    <style>
      .img-thumbnail {
        display: inline;
      }
    </style>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="jumbotron">
      <h1 class="header-title">Our Mission</h1>
      <hr>
      <p>Our vision for Bonfire is to create a safe space for meaningful discourse, free of bias and censorship.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error consectetur esse distinctio nostrum fugit facere commodi voluptatibus omnis, officia animi odit illo pariatur, quas ex veritatis itaque magnam a optio.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi tenetur nam omnis sint veritatis reiciendis voluptas, praesentium recusandae sit, nostrum soluta modi facere at dignissimos optio fugit? Minima, impedit facere.</p>

      
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>