<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
    <style>
      .img-thumbnail {
        display: inline;
      }
      h1 {text-align: center;}
      p {text-align: center;}
      div {text-align: center;}
    </style>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div>
      <br>
      <h2 style="">Our Mission</h2>
      <p>Our vision for Bonfire is to create a safe space for meaningful discourse, free of bias, and censorship.</p>
      <h4>How will we do that?</h4>
      <p>The feature that differentiates us from other social media apps is incorporating a 250-character minimum per post.
      While social media giants usually have character <i>limits</i>, Bonfire decided to implement a minimum character count.
      This relieves the platform of:
        <ul>
          - Posts and comments that do not promote discussion. <i>(Example: "lol")</i>
        </ul>
        <ul>
          - Bots and mass-generated accounts used to manipulate like counts.
        </ul>
        With this feature present, users can use the platform without having to worry about spam comments that may not contribute to discussions.
      </p> 
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>