<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
    <style>
      .img-thumbnail {
        display: inline;
      }
    </style>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <!-- <div class="jumbotron"> -->
      <br>
      <h2>Our Mission</h2>
      <p>Our vision for Bonfire is to create a safe space for meaningful discourse, free of bias, and censorship.</p>
      <h4>How will we do that?</h4>
      <p>The feature that differentiates us from other social media apps is incorporating a 250-character minimum per post.</p>
      <p>While social media giants usually have character <i>limits</i>, Bonfire decided to implement a minimum character count.</p>
      <p>This relieves the platform of:
        <ul>
          - Posts and comments that do not promote discussion. <i>(Example: "lol")</i>
        </ul>
        <ul>
          - Bot accounts 
        </ul>
        With this feature present, users can use the platform without having to worry about spam comments that may not contribute to discussions.
      </p> 
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>