<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
  <style>
    .img-thumbnail {
      display: inline;
    }
    h1 {text-align: center;}
    p {text-align: center;} 
    div {text-align: center;}
  </style>
</head>

<header>
  <%- include('../partials/header'); %>
</header>

<body class="container">


  <main>
    <a href="/login" class="btn btn-outline-primary" role="button">Home</a>
    <div>
      <img src="/images/bonfire2.gif"width="250" height="250" class="d-inline-block align-text-top"> 
    </div>
    
    <!-- Mission page container -->
    <div class="container p-2">
      <h2 class="m2">Our Mission</h2>
      <p class="m2">Our vision for Bonfire is to create a safe space for meaningful discourse, free of bias, and censorship.</p>
      <h4 class="m2">How will we do that?</h4>
      <p class="m2">The feature that differentiates us from other social media apps is incorporating a 250-character minimum per
        post.
      While social media giants usually have character <i>limits</i>, Bonfire decided to implement a minimum
        character count.
      This relieves the platform of:
      <ul style="list-style:lower-latin;">
        <li>Posts and comments that do not promote discussion. <i>(Example: "lol")</i></li>
        <li>Bots and mass-generated accounts used to manipulate like counts.</li>
      </ul>
      <p class="m2">With this feature present, users can use the platform without having to worry about spam comments that may not
        contribute to discussions.
      </p>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>