<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
  <style>
    .img-thumbnail {
      display: inline;
    }
  </style>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="container p-2">
      <h2 class="m-2">Our Mission</h2>
      <p class="m-2">Our vision for Bonfire is to create a safe space for meaningful discourse, free of bias, and censorship.</p>
      <h4 class="m-2 mt-4">How will we do that?</h4>
      <p class="m-2">The feature that differentiates us from other social media apps is incorporating a 250-character minimum per
        post.</p>
      <p class="m-2">While social media giants usually have character <i>limits</i>, Bonfire decided to implement a minimum
        character count.</p>
      <p class="m-2">This relieves the platform of:</p>
      <ul style="list-style:lower-latin;">
        <li>Posts and comments that do not promote discussion. <i>(Example: "lol")</i></li>
        <li>Bot accounts</li>
      </ul>
      <p class="m-2">
        With this feature present, users can use the platform without having to worry about spam comments that may not
        contribute to discussions.
      </p>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>