<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
  <style>
    .img-thumbnail {
      display: inline;
    }
  </style>
</head>

<!-- Site rules container -->
<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div style="text-align:center">
      <img src="/images/bonfire2.gif"width="250" height="250" class="d-inline-block align-text-top"> 
    </div>
    <div class="jumbotron">
      <h1 class="header-title">Bonfire Rules</h1>
      <h2 class="m-3">Rule 1</h2>
      <p class="m-3">Bonfire is a place for creating community and belonging, not for attacking marginalized or
        vulnerable groups of people. Everyone has a right to use Bonfire free of harassment, bullying, and threats of
        violence. Communities and users that incite violence or that promote hate based on identity or vulnerability
        will be banned.</p>
      <h2 class="m-3">Rule 2</h2>
      <p class="m-3">Abide by community rules. Post authentic content into communities where you have a personal interest, and do
        not cheat or engage in content manipulation (including spamming, vote manipulation, ban evasion, or subscriber
        fraud) or otherwise interfere with Bonfire.</p>
      <h2 class="m-3">Rule 3</h2>
      <p class="m-3">Respect the privacy of others. Instigating harassment, for example by revealing someone’s personal or
        confidential information, is not allowed. Never post or threaten to post intimate or sexually-explicit media of
        someone without their consent.</p>
      <h2 class="m-3">Rule 4</h2>
      <p class="m-3">You don’t have to use your real name to use Bonfire, but don’t impersonate an individual or an entity in a
        misleading or deceptive manner.</p>
      <h2 class="m-3">Rule 5</h2>
      <p class="m-3">Keep it legal, and avoid posting illegal content or soliciting or facilitating illegal or prohibited
        transactions.</p>
      <h2 class="m-3">Rule 6</h2>
      <p class="m-3">Ensure people have predictable experiences on Bonfire by properly labeling content and communities.</p>
      <h2 class="m-3">Rule 7</h2>
      <p class="m-3">Don’t break the site or do anything that interferes with normal use of Bonfire.</p>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>