<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
    <style>
      .img-thumbnail {
        display: inline;
      }
      h1 {text-align: center;}
      p {text-align: center;} 
      div {text-align: center;}
    </style>
</head>

<header>
  <%- include('../partials/header'); %>
</header>

<!-- Team Info container -->
<body class="container">
  <main>
    <a href="/login" class="btn btn-outline-primary" role="button">Home</a>
    <div>
      <img src="/images/bonfire2.gif" width="250" height="250" class="d-inline-block align-text-top"> 
    </div>
    <div class="jumbotron" style="min-height: 30vh;">
      <h1 class="header-title">The Bonfire Team</h1>
      <p class="header-welcome">Our team consists of 4 BCIT students:</p>
      <ul style="list-style: none; font-family: 'Roboto', sans-serif;">
        <a href="https://github.com/AndrewA1537"><li>Andrew Anca</li></a>
        <a href="https://github.com/Chen-Stefan"><li>Stefan Chen</li></a>
        <a href="https://github.com/jescalada"><li>Juan Escalada</li></a>
        <a href="https://github.com/jyau10"><li>Jacky Yau</li></a>
      </ul>
      <p class="header-welcome">Bonfire's <a href="https://github.com/jescalada/2800-202210-DTC17">source code</a>!</p>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>