.post-title-text {
    font-size: 1.2rem;
}

.post-username-text {
    font-size: 0.8rem;
    color: grey;
}

.unliked {
    font-weight: bold;
    color: green;
}

.liked {
    font-weight: bold;
    color: red;
}

.post-action {
    text-decoration: none;
    font-weight: bold;
}

.post-action:hover {
    text-decoration: underline;
}