@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,700&family=Montserrat:wght@500;600;700&family=Roboto:wght@300;700&display=swap');


body {
    background-color: #F3F4F7 !important;
    margin: auto !important;
    padding: 0 !important;
}

header {
    background-color: #5b4b96 !important;
}

a:hover {
    cursor: pointer;
    text-decoration: none !important;
}

.card {
    background-color: white;
}

.post-title-text {
    font-size: 1.2rem;
}

.post-username-text {
    font-size: 0.8rem;
    color: grey;
    text-align: right;
}

.post-upvotes-text {
    font-size: 0.8rem;
    color: grey;
    text-align: right;
}

.post-timestamp-text {
    font-size: 0.8rem;
    color: grey;
    text-align: right;
}

.header-title,
.header-welcome {
    margin: 1rem;
}

@media only screen and (max-width: 768px) {
    .post-username-text,
    .post-upvotes-text {
    text-align: left;
    }
}

.unliked {
    font-weight: 700;
    color: green;
}

.liked {
    font-weight: 700;
    color: red;
}

.post-action {
    text-decoration: none;
    font-weight: bold;
}

.post-action:hover {
    text-decoration: underline;
}

.btn-primary {
    background-color: #806dc4 !important;
    border-radius: 10rem !important;
    color: white !important;
    font-weight: bold !important;
    border: none !important;
    margin: 0.2rem 0rem;
}

.btn-outline-primary {
    border-color: #806dc4 !important;
    border-radius: 10rem !important;
    color: #806dc4 !important;
    font-weight: bold !important;
    margin: 0.2rem 0rem;
}

.btn-outline-primary:hover, .btn-outline-primary:active {
    border-color: #806dc4 !important;
    background-color: #806dc4 !important;
    border-radius: 10rem !important;
    color: white !important;
    font-weight: bold !important;
    margin: 0.2rem 0rem;
}

.btn-danger {
    background-color: #da4d4d !important;
    border-radius: 10rem !important;
    color: white !important;
    font-weight: bold !important;
    border: none !important;
    margin: 0.2rem 0rem;
}

.badge {
    font-size: 0.8rem !important;
}

h1, h2, h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

p {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}